In [ ]:
# Dependencies
import pandas as pd
import numpy as np
import glob

In [34]:
#NY CitiBike 3 Month May-Jul 2019
Data_CitiBike_NY = glob.glob("./Data/NY/*.csv") 
NY_df = pd.concat((pd.read_csv(f, header = 0) for f in Data_CitiBike_NY)).reset_index()
NY_df

,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,1,538,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,2,178,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,3,317,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,4,354,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119306,43741,673,2019-07-31 23:39:13.1800,2019-07-31 23:50:26.6520,3681,Grand St,40.715178,-74.037683,3277,Communipaw & Berry Lane,40.714358,-74.066611,26284,Subscriber,1987,1
119307,43742,161,2019-07-31 23:41:24.1110,2019-07-31 23:44:05.4090,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,29570,Subscriber,1998,1
119308,43743,310,2019-07-31 23:47:27.3940,2019-07-31 23:52:37.4870,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26237,Subscriber,1977,1
119309,43744,137,2019-07-31 23:59:29.9300,2019-08-01 00:01:47.1970,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,29121,Subscriber,1993,1
119310,43745,463,2019-07-31 23:59:54.9470,2019-08-01 00:07:37.9750,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29259,Subscriber,1988,1

In [35]:

NY_df['Gender'] = NY_df['gender'].replace([0,1,2],['Unknown',"Male","Female"])
NY_df = NY_df.drop('gender',1)
NY_df["distance"] = ''
NY_df.tail()

,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender,distance
119306,43741,673,2019-07-31 23:39:13.1800,2019-07-31 23:50:26.6520,3681,Grand St,40.715178,-74.037683,3277,Communipaw & Berry Lane,40.714358,-74.066611,26284,Subscriber,1987,Male,
119307,43742,161,2019-07-31 23:41:24.1110,2019-07-31 23:44:05.4090,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,29570,Subscriber,1998,Male,
119308,43743,310,2019-07-31 23:47:27.3940,2019-07-31 23:52:37.4870,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26237,Subscriber,1977,Male,
119309,43744,137,2019-07-31 23:59:29.9300,2019-08-01 00:01:47.1970,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,29121,Subscriber,1993,Male,
119310,43745,463,2019-07-31 23:59:54.9470,2019-08-01 00:07:37.9750,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29259,Subscriber,1988,Male,

In [39]:
#import geopy.distance
#import vincenty
#for index, row in NY_df.iterrows():
#    Station_Start = (row['start station latitude'],row['start station longitude'])
#    Station_End = (row['end station latitude'],row['end station longitude'])
#    NY_df.set_value(index,'distance',geopy.distance.vincenty(Station_Start, Station_End).miles)
#NY_df.tail()

In [33]:
#DC Bike Share 3 Month May-Jul 2019
Data_BikeShare_DC = glob.glob("./Data/DC/*.csv") 
DC_df = pd.concat((pd.read_csv(f, header = 0) for f in Data_BikeShare_DC))
DC_df

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,653,2019-05-01 00:00:02,2019-05-01 00:10:55,31127,22nd & H St NW,31202,14th & R St NW,W00233,Member
1,297,2019-05-01 00:00:13,2019-05-01 00:05:11,31641,2nd St & Massachusetts Ave NE,31603,1st & M St NE,W00555,Member
2,129,2019-05-01 00:00:36,2019-05-01 00:02:46,31255,24th & N St NW,31237,25th St & Pennsylvania Ave NW,W23383,Member
3,1119,2019-05-01 00:01:08,2019-05-01 00:19:48,31655,New Jersey Ave & F St NW,31244,4th & E St SW,W20337,Member
4,533,2019-05-01 00:01:20,2019-05-01 00:10:13,31203,14th & Rhode Island Ave NW,31223,Convention Center / 7th & M St NW,W23707,Member
...,...,...,...,...,...,...,...,...,...
356640,1596,7/31/2019 23:55,8/1/2019 0:22,31249,Jefferson Memorial,31290,17th St & Independence Ave SW,78598,Member
356641,588,7/31/2019 23:56,8/1/2019 0:05,31104,Adams Mill & Columbia Rd NW,31128,23rd & M St NW,W24040,Member
356642,737,7/31/2019 23:57,8/1/2019 0:10,31115,Columbia Rd & Georgia Ave NW,31267,17th St & Massachusetts Ave NW,W23142,Member
356643,359,7/31/2019 23:57,8/1/2019 0:03,31117,15th & Euclid St NW,31282,16th & R St NW,W22184,Member
356644,513,7/31/2019 23:59,8/1/2019 0:08,31516,Rhode Island Ave Metro,31510,18th St & Rhode Island Ave NE,W22855,Member

In [29]:
#NY Bike Accidents 3 Month May-Jul 2019
Accidents_raw_NY = pd.read_csv("./Data/Accidents/Motor_Vehicle_Collisions_Crashes.csv")
Accidents_NY=Accidents_raw_NY['NUMBER OF CYCLIST INJURED']!=0
Accidents_NY_cln=Accidents_raw_NY[Accidents_NY]

Accidents_NY_df=pd.DataFrame({ 'CRASH DATE': Accidents_NY_cln['CRASH DATE'],
                                'LATITUDE': Accidents_NY_cln['LATITUDE'],
                                'LONGITUDE': Accidents_NY_cln['LONGITUDE'],
                                'LOCATION': Accidents_NY_cln['LOCATION'],
                                'NUMBER OF CYCLIST INJURED': Accidents_NY_cln['NUMBER OF CYCLIST INJURED'],
                                }).reset_index()

Accidents_NY_df

,index,CRASH DATE,LATITUDE,LONGITUDE,LOCATION,NUMBER OF CYCLIST INJURED
0,4,5/1/2019,40.789474,-73.957400,"(40.789474, -73.9574)",1
1,13,5/1/2019,40.743824,-73.987915,"(40.743824, -73.987915)",1
2,154,5/1/2019,40.763428,-73.992710,"(40.763428, -73.99271)",1
3,243,5/1/2019,40.846893,-73.920550,"(40.846893, -73.92055)",1
4,257,5/1/2019,40.747660,-73.993040,"(40.74766, -73.99304)",1
...,...,...,...,...,...,...
1587,57299,7/31/2019,40.680088,-73.943980,"(40.680088, -73.94398)",1
1588,57301,7/31/2019,40.662384,-73.920044,"(40.662384, -73.920044)",1
1589,57351,7/31/2019,40.693750,-73.937200,"(40.69375, -73.9372)",1
1590,57480,7/31/2019,40.700504,-73.899765,"(40.700504, -73.899765)",1
1591,57493,7/31/2019,40.762737,-73.959700,"(40.762737, -73.9597)",1

In [41]:
NY_df.to_csv('./Data/2019_May_Jul_citibikenyc_tripdata.csv', index_label = "TripID")
DC_df.to_csv('./Data/2019_May_Jul_BikeShareDC_tripdata.csv', index_label = "TripID")
Accidents_NY_df.to_csv('./Data/2019_May_Jul_BikeAccidentsNY.csv', index_label = "AccidentID")